// layout
.dyna-progress-bar {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__progress {
        position: relative;
        transition: width 250ms ease-in-out;
        height: 100%;
        // width is coming from js

        &.zero-progress{
            border: 0;
        }
    }

    &__label {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }

    // dyna-progress-bar__is-loading--active

    &__is-loading {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        transition: opacity 250ms ease-in-out;

        &--active{
            opacity: 0.5;
        }
        &--inactive{
            opacity: 0;
        }
    }
}

// default style
.dyna-progress-bar {
    &__background{
        background-color: lightgray;
        border: 1px solid grey;
    }
    &__progress{
        background-color: rebeccapurple;
        border-right: 1px solid grey;
    }
    &__label{
    }
}
